@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', 'Apple Color Emoji', Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 16px;
  transition: all 80ms ease 0s;
  color: rgb(119, 118, 120) !important;
  text-decoration: none;
}
